<div class="collapsable">
    <h2 class="collapsable__title">Actinide</h2>
    <span class="ico plus__actinide">
        <svg><use xlink:href="#ico-more" /></svg>
    </span>
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element89103 actinide">
            <p class="atomicNumber">89-103</p>
        </li>
        <li class="grid-item element89 actinide">
            <p class="atomicNumber">89</p>
            <p class="atomicWeight">227.028</p>
            <p class="symbol">Ac</p>
            <p class="nameElement">Actinium</p>
        </li>
        
        <li class="grid-item element90 actinide">
            <p class="atomicNumber">90</p>
            <p class="atomicWeight">232.038</p>
            <p class="symbol">Th</p>
            <p class="nameElement">Thorium</p>
        </li>
        
        <li class="grid-item element91 actinide">
            <p class="atomicNumber">91</p>
            <p class="atomicWeight">231.036</p>
            <p class="symbol">Pa</p>
            <p class="nameElement">Protactinium</p>
        </li>
        
        <li class="grid-item element92 actinide">
            <p class="atomicNumber">92</p>
            <p class="atomicWeight">238.029</p>
            <p class="symbol">U</p>
            <p class="nameElement">Uranium</p>
        </li>
        
        <li class="grid-item element93 actinide">
            <p class="atomicNumber">93</p>
            <p class="atomicWeight">237.048</p>
            <p class="symbol">Np</p>
            <p class="nameElement">Neptunium</p>
        </li>
        
        <li class="grid-item element94 actinide">
            <p class="atomicNumber">94</p>
            <p class="atomicWeight">244.064</p>
            <p class="symbol">Pu</p>
            <p class="nameElement">Plutonium</p>
        </li>
        
        <li class="grid-item element95 actinide">
            <p class="atomicNumber">95</p>
            <p class="atomicWeight">243.061</p>
            <p class="symbol">Am</p>
            <p class="nameElement">Americium</p>
        </li>
        
        <li class="grid-item element96 actinide">
            <p class="atomicNumber">96</p>
            <p class="atomicWeight">247.070</p>
            <p class="symbol">Cm</p>
            <p class="nameElement">Curium</p>
        </li>
        
        <li class="grid-item element97 actinide">
            <p class="atomicNumber">97</p>
            <p class="atomicWeight">247.070</p>
            <p class="symbol">Bk</p>
            <p class="nameElement">Berkelium</p>
        </li>
        
        <li class="grid-item element98 actinide">
            <p class="atomicNumber">98</p>
            <p class="atomicWeight">251.080</p>
            <p class="symbol">Cf</p>
            <p class="nameElement">Californium</p>
        </li>
        
        <li class="grid-item element99 actinide">
            <p class="atomicNumber">99</p>
            <p class="atomicWeight">[254]</p>
            <p class="symbol">Es</p>
            <p class="nameElement">Einsteinium</p>
        </li>
        
        <li class="grid-item element100 actinide">
            <p class="atomicNumber">100</p>
            <p class="atomicWeight">257.095</p>
            <p class="symbol">Fm</p>
            <p class="nameElement">Fermium</p>
        </li>
        
        <li class="grid-item element101 actinide">
            <p class="atomicNumber">101</p>
            <p class="atomicWeight">258.1</p>
            <p class="symbol">Md</p>
            <p class="nameElement">Mendelevium</p>
        </li>
        
        <li class="grid-item element102 actinide">
            <p class="atomicNumber">102</p>
            <p class="atomicWeight">259.101</p>
            <p class="symbol">No</p>
            <p class="nameElement">Nobelium</p>
        </li>
        
        <li class="grid-item element103 actinide">
            <p class="atomicNumber">103</p>
            <p class="atomicWeight">[262]</p>
            <p class="symbol">Lr</p>
            <p class="nameElement">Lawrencium</p>
        </li>
    </ul>
</div>