<div class="collapsable">
    <h2 class="collapsable__title">Alkaline Earth</h2>
    <span class="ico plus__alkaline">
        <svg><use xlink:href="#ico-more" /></svg>
    </span>
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element4 alkalineEarth">
            <p class="atomicNumber">4</p>
            <p class="atomicWeight">9.012</p>
            <p class="symbol">Be</p>
            <p class="nameElement">Beryllium</p>
        </li>
        <li class="grid-item element12 alkalineEarth">
            <p class="atomicNumber">12</p>
            <p class="atomicWeight">24.305</p>
            <p class="symbol">Mg</p>
            <p class="nameElement">Magnesium</p>
        </li>
        <li class="grid-item element20 alkalineEarth">
            <p class="atomicNumber">20</p>
            <p class="atomicWeight">40.078</p>
            <p class="symbol">Ca</p>
            <p class="nameElement">Calcium</p>
        </li>
        <li class="grid-item element38 alkalineEarth">
            <p class="atomicNumber">38</p>
            <p class="atomicWeight">87.62</p>
            <p class="symbol">Sr</p>
            <p class="nameElement">Strontium</p>
        </li>
        <li class="grid-item element56 alkalineEarth">
            <p class="atomicNumber">56</p>
            <p class="atomicWeight">137.328</p>
            <p class="symbol">Ba</p>
            <p class="nameElement">Barium</p>
        </li>
        <li class="grid-item element88 alkalineEarth">
            <p class="atomicNumber">88</p>
            <p class="atomicWeight">226.025</p>
            <p class="symbol">Ra</p>
            <p class="nameElement">Radium</p>
        </li>
    </ul>
</div>