<div class="collapsable">
    <h2 class="collapsable__title">Alkali Metal</h2>
    <span class="ico plus__alkali">
        <svg><use xlink:href="#ico-more" /></svg>
    </span>
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element3 alkaliMetal">
            <p class="atomicNumber">3</p>
            <p class="atomicWeight">6.941</p>
            <p class="symbol">Li</p>
            <p class="nameElement">Litium</p>    
        </li>
        <li class="grid-item element11 alkaliMetal">
            <p class="atomicNumber">11</p>
            <p class="atomicWeight">22.900</p>
            <p class="symbol">Na</p>
            <p class="nameElement">Sodium</p>
        </li>
        <li class="grid-item element19 alkaliMetal">
            <p class="atomicNumber">19</p>
            <p class="atomicWeight">39.098</p>
            <p class="symbol">K</p>
            <p class="nameElement">Potassium</p>
        </li>
        <li class="grid-item element37 alkaliMetal">
            <p class="atomicNumber">37</p>
            <p class="atomicWeight">85.468</p>
            <p class="symbol">Rb</p>
            <p class="nameElement">Rubidium</p>
        </li>
        <li class="grid-item element55 alkaliMetal">
            <p class="atomicNumber">55</p>
            <p class="atomicWeight">132.905</p>
            <p class="symbol">Cs</p>
            <p class="nameElement">Cesium</p>
        </li><li class="grid-item element87 alkaliMetal">
            <p class="atomicNumber">87</p>
            <p class="atomicWeight">223.020</p>
            <p class="symbol">Fr</p>
            <p class="nameElement">Francium</p>
        </li>
    </ul>
</div>