<div class="collapsable">
    <h2 class="collapsable__title">Basic metal</h2>
    <img class="collapsable__icon-more" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<ul class="grid-elements">
    <li class="grid-item element13 basicMetal">
        <p class="atomicNumber">13</p>
        <p class="atomicWeight">26.982</p>
        <p class="symbol">Al</p>
        <p class="nameElement">Aluminium</p>
    </li>
    <li class="grid-item element31 basicMetal">
        <p class="atomicNumber">31</p>
        <p class="atomicWeight">69.723</p>
        <p class="symbol">Ga</p>
        <p class="nameElement">Gallium</p>
    </li>
    <li class="grid-item element49 basicMetal">
        <p class="atomicNumber">49</p>
        <p class="atomicWeight">114.818</p>
        <p class="symbol">In</p>
        <p class="nameElement">Indium</p>
    </li>

    <li class="grid-item element50 basicMetal">
        <p class="atomicNumber">50</p>
        <p class="atomicWeight">118.711</p>
        <p class="symbol">Sn</p>
        <p class="nameElement">Tin</p>
    </li>
    <li class="grid-item element81 basicMetal">
        <p class="atomicNumber">81</p>
        <p class="atomicWeight">204.383</p>
        <p class="symbol">Tl</p>
        <p class="nameElement">Thallium</p>
    </li>

    <li class="grid-item element82 basicMetal">
        <p class="atomicNumber">82</p>
        <p class="atomicWeight">207.2</p>
        <p class="symbol">Pb</p>
        <p class="nameElement">Lead</p>
    </li>

    <li class="grid-item element83 basicMetal">
        <p class="atomicNumber">83</p>
        <p class="atomicWeight">208.980</p>
        <p class="symbol">Bi</p>
        <p class="nameElement">Bismuth</p>
    </li>

    <li class="grid-item element84 basicMetal">
        <p class="atomicNumber">84</p>
        <p class="atomicWeight">[208.982]</p>
        <p class="symbol">Po</p>
        <p class="nameElement">Polonium</p>
    </li>
</ul>