<section class="key-info">
    <ul class="color-clasification">
        <li>
            <i class="color-clasification__square alkaliMetal"></i>
            <p class="color-clasification__text">Alkali Metal</p>
        </li>
        <li>
            <i class="color-clasification__square alkalineEarth"></i>
            <p class="color-clasification__text">Alkaline Earth</p>
        </li>
        <li>
            <i class="color-clasification__square transitionMetal"></i>
            <p class="color-clasification__text">Transition Metal</p>
        </li>
        <li>
            <i class="color-clasification__square basicMetal"></i>
            <p class="color-clasification__text">Basic Metal</p>
        </li>
        <li>
            <i class="color-clasification__square semimetal"></i>
            <p class="color-clasification__text">Semi Metal</p>
        </li>
        <li>
            <i class="color-clasification__square polyatomicNonMetal"></i>
            <p class="color-clasification__text">Polyatomic Non Metal</p>
        </li>
        <li>
            <i class="color-clasification__square nonMetal"></i>
            <p class="color-clasification__text">Non Metal</p>
        </li>
        <li>
            <i class="color-clasification__square nobleGas"></i>
            <p class="color-clasification__text">Noble Gas</p>
        </li>
        <li>
            <i class="color-clasification__square lanthanide"></i>
            <p class="color-clasification__text">Lanthanide</p>
        </li>
        <li>
            <i class="color-clasification__square actinide"></i>
            <p class="color-clasification__text">Actinide</p>
        </li>        
        <li>
            <i class="color-clasification__square unknow"></i>
            <p class="color-clasification__text">Unknow</p>
        </li>
    </ul>
</section>