<div class="collapsable">
    <h2 class="collapsable__title">Lanthanide</h2>
    <img class="collapsable__icon-more plus__lanthanide" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element5771 lanthanide">
            <p class="atomicNumber">57-71</p>
        </li>
        <li class="grid-item element57 lanthanide">
            <p class="atomicNumber">57</p>
            <p class="atomicWeight">138.905</p>
            <p class="symbol">La</p>
            <p class="nameElement">Lanthanum</p>
        </li>
        
        <li class="grid-item element58 lanthanide">
            <p class="atomicNumber">58</p>
            <p class="atomicWeight">140.116</p>
            <p class="symbol">Ce</p>
            <p class="nameElement">Cerium</p>
        </li>
        
        <li class="grid-item element59 lanthanide">
            <p class="atomicNumber">59</p>
            <p class="atomicWeight">140.908</p>
            <p class="symbol">Pr</p>
            <p class="nameElement">Praseodymium</p>
        </li>  
        
        <li class="grid-item element60 lanthanide">
            <p class="atomicNumber">60</p>
            <p class="atomicWeight">144.242</p>
            <p class="symbol">Nd</p>
            <p class="nameElement">Neodymium</p>
        </li>  
        
        <li class="grid-item element61 lanthanide">
            <p class="atomicNumber">61</p>
            <p class="atomicWeight">144.913</p>
            <p class="symbol">Pm</p>
            <p class="nameElement">Promethium</p>
        </li> 
        
        <li class="grid-item element62 lanthanide">
            <p class="atomicNumber">62</p>
            <p class="atomicWeight">150.36</p>
            <p class="symbol">Sm</p>
            <p class="nameElement">Samarium</p>
        </li>
        
        <li class="grid-item element63 lanthanide">
            <p class="atomicNumber">63</p>
            <p class="atomicWeight">151.964</p>
            <p class="symbol">Eu</p>
            <p class="nameElement">Europium</p>
        </li>
        
        <li class="grid-item element64 lanthanide">
            <p class="atomicNumber">64</p>
            <p class="atomicWeight">157.25</p>
            <p class="symbol">Gd</p>
            <p class="nameElement">Gadolinium</p>
        </li>
        
        <li class="grid-item element65 lanthanide">
            <p class="atomicNumber">65</p>
            <p class="atomicWeight">158.925</p>
            <p class="symbol">Tb</p>
            <p class="nameElement">Terbium</p>
        </li>
        
        <li class="grid-item element66 lanthanide">
            <p class="atomicNumber">66</p>
            <p class="atomicWeight">162.500</p>
            <p class="symbol">Dy</p>
            <p class="nameElement">Dysprosium</p>
        </li>
        
        <li class="grid-item element67 lanthanide">
            <p class="atomicNumber">67</p>
            <p class="atomicWeight">164.930</p>
            <p class="symbol">Ho</p>
            <p class="nameElement">Holmium</p>
        </li>
        
        <li class="grid-item element68 lanthanide">
            <p class="atomicNumber">68</p>
            <p class="atomicWeight">167.259</p>
            <p class="symbol">Er</p>
            <p class="nameElement">Erbium</p>
        </li>
        
        <li class="grid-item element69 lanthanide">
            <p class="atomicNumber">69</p>
            <p class="atomicWeight">168.934</p>
            <p class="symbol">Tm</p>
            <p class="nameElement">Thulium</p>
        </li>
        
        <li class="grid-item element70 lanthanide">
            <p class="atomicNumber">70</p>
            <p class="atomicWeight">173.055</p>
            <p class="symbol">Yb</p>
            <p class="nameElement">Ytterbium</p>
        </li>
        
        <li class="grid-item element71 lanthanide">
            <p class="atomicNumber">71</p>
            <p class="atomicWeight">174.967</p>
            <p class="symbol">Lu</p>
            <p class="nameElement">Lutetium</p>
        </li>
    </ul>
</div>