<div class="collapsable">
    <h2 class="collapsable__title">Noble Gas</h2>
    <span class="ico plus__noble">
        <svg><use xlink:href="#ico-more" /></svg>
    </span>
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element2 nobleGas textLight">
            <p class="atomicNumber">2</p>
            <p class="atomicWeight">4.003</p>
            <p class="symbol">He</p>
            <p class="nameElement">Helium</p>
        </li>
        <li class="grid-item element10 nobleGas textLight">
            <p class="atomicNumber">10</p>
            <p class="atomicWeight">20.180</p>
            <p class="symbol">Ne</p>
            <p class="nameElement">Neon</p>
        </li>
        <li class="grid-item element18 nobleGas textLight">
            <p class="atomicNumber">18</p>
            <p class="atomicWeight">39.948</p>
            <p class="symbol">Ar</p>
            <p class="nameElement">Argon</p>
        </li>
        <li class="grid-item element36 nobleGas textLight">
            <p class="atomicNumber">36</p>
            <p class="atomicWeight">83.798</p>
            <p class="symbol">Kr</p>
            <p class="nameElement">Krypton</p>
        </li>
        <li class="grid-item element54 nobleGas textLight">
            <p class="atomicNumber">54</p>
            <p class="atomicWeight">131.294</p>
            <p class="symbol">Xe</p>
            <p class="nameElement">Xenon</p>
        </li>
        <li class="grid-item element86 nobleGas textLight">
            <p class="atomicNumber">86</p>
            <p class="atomicWeight">222.018</p>
            <p class="symbol">Rn</p>
            <p class="nameElement">Radon</p>
        </li>
    </ul>
</div>