<div class="collapsable">
    <h2 class="collapsable__title">Non Metal</h2>
    <img class="collapsable__icon-more" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<!-- <div class="elements"> -->
    <ul class="grid-elements">
        <li class="grid-item element1 nonMetal textLight">
            <p class="atomicNumber">1</p>
            <p class="atomicWeight">1.008</p>
            <p class="symbol">H</p>
            <p class="nameElement">Hydrogen</p>
        </li>
        <li class="grid-item element7 nonMetal textLight">
            <p class="atomicNumber">7</p>
            <p class="atomicWeight">14.007</p>
            <p class="symbol">N</p>
            <p class="nameElement">Nitrogen</p>
        </li>
        <li class="grid-item element8 nonMetal textLight">
            <p class="atomicNumber">8</p>
            <p class="atomicWeight">15.999</p>
            <p class="symbol">O</p>
            <p class="nameElement">Oxygen</p>
        </li>
        <li class="grid-item element9 nonMetal textLight">
            <p class="atomicNumber">9</p>
            <p class="atomicWeight">18.998</p>
            <p class="symbol">F</p>
            <p class="nameElement">Fluoryne</p>
        </li>
        <li class="grid-item element17 nonMetal textLight">
            <p class="atomicNumber">17</p>
            <p class="atomicWeight">35.453</p>
            <p class="symbol">Cl</p>
            <p class="nameElement">Chlorine</p>
        </li>
        <li class="grid-item element35 nonMetal textLight">
            <p class="atomicNumber">35</p>
            <p class="atomicWeight">79.904</p>
            <p class="symbol">Br</p>
            <p class="nameElement">Bromine</p>
        </li>
        <li class="grid-item element53 nonMetal textLight">
            <p class="atomicNumber">53</p>
            <p class="atomicWeight">126.904</p>
            <p class="symbol">I</p>
            <p class="nameElement">Iodine</p>
        </li>
    </ul>
<!-- </div> -->