<div class="collapsable">
    <h2 class="collapsable__title">Polyatomic non metal</h2>
    <img class="collapsable__icon-more" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<ul class="grid-elements">
    <li class="grid-item element6 polyatomicNonMetal">
        <p class="atomicNumber">6</p>
        <p class="atomicWeight">12.011</p>
        <p class="symbol">C</p>
        <p class="nameElement">Carbon</p>
    </li>
    <li class="grid-item element15 polyatomicNonMetal">
        <p class="atomicNumber">15</p>
        <p class="atomicWeight">30.974</p>
        <p class="symbol">P</p>
        <p class="nameElement">Phosphorus</p>
    </li>
    
    <li class="grid-item element16 polyatomicNonMetal">
        <p class="atomicNumber">16</p>
        <p class="atomicWeight">32.066</p>
        <p class="symbol">S</p>
        <p class="nameElement">Sulfur</p>
    </li>
    <li class="grid-item element34 polyatomicNonMetal">
        <p class="atomicNumber">34</p>
        <p class="atomicWeight">78.972</p>
        <p class="symbol">Se</p>
        <p class="nameElement">Selenium</p>
    </li>
</ul>