<div class="collapsable">
    <h2 class="collapsable__title">Semi metal</h2>
    <img class="collapsable__icon-more" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<ul class="grid-elements">
    <li class="grid-item element5 semimetal">
        <p class="atomicNumber">5</p>
        <p class="atomicWeight">10.811</p>
        <p class="symbol">B</p>
        <p class="nameElement">Boron</p>
    </li>
    <li class="grid-item element14 semimetal">
        <p class="atomicNumber">14</p>
        <p class="atomicWeight">28.086</p>
        <p class="symbol">Si</p>
        <p class="nameElement">Silicon</p>
    </li>
    <li class="grid-item element32 semimetal">
        <p class="atomicNumber">32</p>
        <p class="atomicWeight">72.631</p>
        <p class="symbol">Ge</p>
        <p class="nameElement">Germanium</p>
    </li>    
    <li class="grid-item element33 semimetal">
        <p class="atomicNumber">33</p>
        <p class="atomicWeight">74.922</p>
        <p class="symbol">As</p>
        <p class="nameElement">Arsenic</p>
    </li>
    <li class="grid-item element51 semimetal">
        <p class="atomicNumber">51</p>
        <p class="atomicWeight">121.760</p>
        <p class="symbol">Sb</p>
        <p class="nameElement">Antimony</p>
    </li>
    
    <li class="grid-item element52 semimetal">
        <p class="atomicNumber">52</p>
        <p class="atomicWeight">127.6</p>
        <p class="symbol">Te</p>
        <p class="nameElement">Tellurium</p>
    </li>
    <li class="grid-item element85 semimetal">
        <p class="atomicNumber">85</p>
        <p class="atomicWeight">209.987</p>
        <p class="symbol">At</p>
        <p class="nameElement">Astatine</p>
    </li>
</ul>