<div class="collapsable">
    <h2 class="collapsable__title">Transition metal</h2>
    <img class="collapsable__icon-more plus__transition" src="./assets/images/add.svg" alt="Show non metal elements">
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element21 transitionMetal">
            <p class="atomicNumber">21</p>
            <p class="atomicWeight">44.956</p>
            <p class="symbol">Sc</p>
            <p class="nameElement">Scandium</p>
        </li>

        <li class="grid-item element22 transitionMetal">
            <p class="atomicNumber">22</p>
            <p class="atomicWeight">47.867</p>
            <p class="symbol">Ti</p>
            <p class="nameElement">Titanium</p>
        </li>

        <li class="grid-item element23 transitionMetal">
            <p class="atomicNumber">23</p>
            <p class="atomicWeight">50.942</p>
            <p class="symbol">V</p>
            <p class="nameElement">Vanadium</p>
        </li>

        <li class="grid-item element24 transitionMetal">
            <p class="atomicNumber">24</p>
            <p class="atomicWeight">51.996</p>
            <p class="symbol">Cr</p>
            <p class="nameElement">Chromium</p>
        </li>

        <li class="grid-item element25 transitionMetal">
            <p class="atomicNumber">25</p>
            <p class="atomicWeight">54.938</p>
            <p class="symbol">Mn</p>
            <p class="nameElement">Manganese</p>
        </li>

        <li class="grid-item element26 transitionMetal">
            <p class="atomicNumber">26</p>
            <p class="atomicWeight">55.845</p>
            <p class="symbol">Fe</p>
            <p class="nameElement">Iron</p>
        </li>

        <li class="grid-item element27 transitionMetal">
            <p class="atomicNumber">27</p>
            <p class="atomicWeight">58.933</p>
            <p class="symbol">Co</p>
            <p class="nameElement">Cobalt</p>
        </li>

        <li class="grid-item element28 transitionMetal">
            <p class="atomicNumber">28</p>
            <p class="atomicWeight">58.693</p>
            <p class="symbol">Ni</p>
            <p class="nameElement">Nickel</p>
        </li>

        <li class="grid-item element29 transitionMetal">
            <p class="atomicNumber">29</p>
            <p class="atomicWeight">63.546</p>
            <p class="symbol">Cu</p>
            <p class="nameElement">Copper</p>
        </li>

        <li class="grid-item element30 transitionMetal">
            <p class="atomicNumber">30</p>
            <p class="atomicWeight">65.38</p>
            <p class="symbol">Zn</p>
            <p class="nameElement">Zinc</p>
        </li>
        <li class="grid-item element39 transitionMetal">
            <p class="atomicNumber">39</p>
            <p class="atomicWeight">88.906</p>
            <p class="symbol">Y</p>
            <p class="nameElement">Yttrium</p>
        </li>

        <li class="grid-item element40 transitionMetal">
            <p class="atomicNumber">40</p>
            <p class="atomicWeight">91.224</p>
            <p class="symbol">Zr</p>
            <p class="nameElement">KrZirconiumypton</p>
        </li>

        <li class="grid-item element41 transitionMetal">
            <p class="atomicNumber">41</p>
            <p class="atomicWeight">92.906</p>
            <p class="symbol">Nb</p>
            <p class="nameElement">Niobium</p>
        </li>

        <li class="grid-item element42 transitionMetal">
            <p class="atomicNumber">42</p>
            <p class="atomicWeight">95.95</p>
            <p class="symbol">Mo</p>
            <p class="nameElement">Molybdenum</p>
        </li>

        <li class="grid-item element43 transitionMetal">
            <p class="atomicNumber">43</p>
            <p class="atomicWeight">98.907</p>
            <p class="symbol">Tc</p>
            <p class="nameElement">Technetium</p>
        </li>

        <li class="grid-item element44 transitionMetal">
            <p class="atomicNumber">44</p>
            <p class="atomicWeight">101.07</p>
            <p class="symbol">Ru</p>
            <p class="nameElement">Ruthenium</p>
        </li>

        <li class="grid-item element45 transitionMetal">
            <p class="atomicNumber">45</p>
            <p class="atomicWeight">102.906</p>
            <p class="symbol">Rh</p>
            <p class="nameElement">Rhodium</p>
        </li>

        <li class="grid-item element46 transitionMetal">
            <p class="atomicNumber">46</p>
            <p class="atomicWeight">106.42</p>
            <p class="symbol">Pd</p>
            <p class="nameElement">Palladium</p>
        </li>

        <li class="grid-item element47 transitionMetal">
            <p class="atomicNumber">47</p>
            <p class="atomicWeight">107.868</p>
            <p class="symbol">Ag</p>
            <p class="nameElement">Silver</p>
        </li>

        <li class="grid-item element48 transitionMetal">
            <p class="atomicNumber">48</p>
            <p class="atomicWeight">112.411</p>
            <p class="symbol">Cd</p>
            <p class="nameElement">Cadmium</p>
        </li>
        <li class="grid-item element72 transitionMetal">
            <p class="atomicNumber">72</p>
            <p class="atomicWeight">178.49</p>
            <p class="symbol">Hf</p>
            <p class="nameElement">Hafnium</p>
        </li>

        <li class="grid-item element73 transitionMetal">
            <p class="atomicNumber">73</p>
            <p class="atomicWeight">180.948</p>
            <p class="symbol">Ta</p>
            <p class="nameElement">Tantalum</p>
        </li>

        <li class="grid-item element74 transitionMetal">
            <p class="atomicNumber">74</p>
            <p class="atomicWeight">183.84</p>
            <p class="symbol">W</p>
            <p class="nameElement">Wolframio</p>
        </li>

        <li class="grid-item element75 transitionMetal">
            <p class="atomicNumber">75</p>
            <p class="atomicWeight">186.207</p>
            <p class="symbol">Re</p>
            <p class="nameElement">Rhenium</p>
        </li>

        <li class="grid-item element76 transitionMetal">
            <p class="atomicNumber">76</p>
            <p class="atomicWeight">190.23</p>
            <p class="symbol">Os</p>
            <p class="nameElement">Osmium</p>
        </li>

        <li class="grid-item element77 transitionMetal">
            <p class="atomicNumber">77</p>
            <p class="atomicWeight">192.217</p>
            <p class="symbol">Ir</p>
            <p class="nameElement">Iridium</p>
        </li>

        <li class="grid-item element78 transitionMetal">
            <p class="atomicNumber">78</p>
            <p class="atomicWeight">195.085</p>
            <p class="symbol">Pt</p>
            <p class="nameElement">Platinum</p>
        </li>

        <li class="grid-item element79 transitionMetal">
            <p class="atomicNumber">79</p>
            <p class="atomicWeight">196.967</p>
            <p class="symbol">Au</p>
            <p class="nameElement">Gold</p>
        </li>

        <li class="grid-item element80 transitionMetal">
            <p class="atomicNumber">80</p>
            <p class="atomicWeight">200.592</p>
            <p class="symbol">Hg</p>
            <p class="nameElement">Mercury</p>
        </li>
        <li class="grid-item element104 transitionMetal">
            <p class="atomicNumber">104</p>
            <p class="atomicWeight">[261]</p>
            <p class="symbol">Rf</p>
            <p class="nameElement">Rutherfordium</p>
        </li>

        <li class="grid-item element105 transitionMetal">
            <p class="atomicNumber">105</p>
            <p class="atomicWeight">[262]</p>
            <p class="symbol">Db</p>
            <p class="nameElement">Dubnium</p>
        </li>

        <li class="grid-item element106 transitionMetal">
            <p class="atomicNumber">106</p>
            <p class="atomicWeight">[266]</p>
            <p class="symbol">Sg</p>
            <p class="nameElement">Seaborgium</p>
        </li>

        <li class="grid-item element107 transitionMetal">
            <p class="atomicNumber">107</p>
            <p class="atomicWeight">[264]</p>
            <p class="symbol">Bh</p>
            <p class="nameElement">Bohrium</p>
        </li>

        <li class="grid-item element108 transitionMetal">
            <p class="atomicNumber">108</p>
            <p class="atomicWeight">[269]</p>
            <p class="symbol">Hs</p>
            <p class="nameElement">Hassium</p>
        </li>
        <li class="grid-item element112 transitionMetal">
            <p class="atomicNumber">112</p>
            <p class="atomicWeight">[285]</p>
            <p class="symbol">Cn</p>
            <p class="nameElement">Copernicium</p>
        </li>
    </ul>
</div>