<div class="collapsable">
    <h2 class="collapsable__title">Unknow</h2>
    <span class="ico plus__unknow">
        <svg><use xlink:href="#ico-more" /></svg>
    </span>
</div>
<div class="collapsable--hide">
    <ul class="grid-elements">
        <li class="grid-item element109 unknow">
            <p class="atomicNumber">109</p>
            <p class="atomicWeight">[278]</p>
            <p class="symbol">Mt</p>
            <p class="nameElement">Meitnerium</p>
        </li>
        <li class="grid-item element110 unknow">
            <p class="atomicNumber">110</p>
            <p class="atomicWeight">[281]</p>
            <p class="symbol">Ds</p>
            <p class="nameElement">Darmstadtium</p>
        </li>
        <li class="grid-item element111 unknow">
            <p class="atomicNumber">111</p>
            <p class="atomicWeight">[280]</p>
            <p class="symbol">Rg</p>
            <p class="nameElement">Roentgenium</p>
        </li>
        <li class="grid-item element113 unknow">
            <p class="atomicNumber">113</p>
            <p class="atomicWeight">[286]</p>
            <p class="symbol">Nh</p>
            <p class="nameElement">Nihomium</p>
        </li>
        <li class="grid-item element114 unknow">
            <p class="atomicNumber">114</p>
            <p class="atomicWeight">[289]</p>
            <p class="symbol">Fl</p>
            <p class="nameElement">Flerovium</p>
        </li>
        <li class="grid-item element115 unknow">
            <p class="atomicNumber">115</p>
            <p class="atomicWeight">[289]</p>
            <p class="symbol">Mc</p>
            <p class="nameElement">Moscovium</p>
        </li>
        <li class="grid-item element116 unknow">
            <p class="atomicNumber">116</p>
            <p class="atomicWeight">[293]</p>
            <p class="symbol">Lv</p>
            <p class="nameElement">Livermorium</p>
        </li>
        <li class="grid-item element117 unknow">
            <p class="atomicNumber">117</p>
            <p class="atomicWeight">[294]</p>
            <p class="symbol">Ts</p>
            <p class="nameElement">Tennessine</p>
        </li>
        <li class="grid-item element118 unknow">
        <p class="atomicNumber">118</p>
        <p class="atomicWeight">[294]</p>
        <p class="symbol">Og</p>
        <p class="nameElement">Oganesson</p>
        </li>
    </ul>
</div>