<!DOCTYPE html>
<html lang="en">
<head>
    <title>Periodic Table</title>
    <meta name="description" content="Periodic Table">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">

    <!-- FAVICON -->
</head>
<body>
    <partial src="_key.html"></partial>
    <main>
        <partial src="_alkaliMetal.html"></partial>
        <partial src="_alkalineEarth.html"></partial>
        <partial src="_transitionMetal.html"></partial>
        <partial src="_basicMetal.html"></partial>
        <partial src="_semiMetal.html"></partial>
        <partial src="_polyatomicNonMetal.html"></partial>
        <partial src="_nonMetal.html"></partial>
        <partial src="_nobleGas.html"></partial>
        <partial src="_lanthanide.html"></partial>
        <partial src="_actinide.html"></partial>
        <partial src="_unknow.html"></partial>
    </main>

<!-- <section class="groupOne">

    <ul>
        <li class="grid-item element5 semimetal">
            <p class="atomicNumber">5</p>
            <p class="atomicWeight">10.811</p>
            <p class="symbol">B</p>
            <p class="nameElement">Boron</p>
        </li>
        
        <li class="grid-item element6 polyatomicNonMetal">
            <p class="atomicNumber">6</p>
            <p class="atomicWeight">12.011</p>
            <p class="symbol">C</p>
            <p class="nameElement">Carbon</p>
        </li>
        
        
        
        
        
        
        
        
        
        
        
        <li class="grid-item element14 semimetal">
            <p class="atomicNumber">14</p>
            <p class="atomicWeight">28.086</p>
            <p class="symbol">Si</p>
            <p class="nameElement">Silicon</p>
        </li>
        
        <li class="grid-item element15 polyatomicNonMetal">
            <p class="atomicNumber">15</p>
            <p class="atomicWeight">30.974</p>
            <p class="symbol">P</p>
            <p class="nameElement">Phosphorus</p>
        </li>
        
        <li class="grid-item element16 polyatomicNonMetal">
            <p class="atomicNumber">16</p>
            <p class="atomicWeight">32.066</p>
            <p class="symbol">S</p>
            <p class="nameElement">Sulfur</p>
        </li>
        
        
        
        
        
        
        

        
        
        
        
        
        <li class="grid-item element32 semimetal">
            <p class="atomicNumber">32</p>
            <p class="atomicWeight">72.631</p>
            <p class="symbol">Ge</p>
            <p class="nameElement">Germanium</p>
        </li>
        
        <li class="grid-item element33 semimetal">
            <p class="atomicNumber">33</p>
            <p class="atomicWeight">74.922</p>
            <p class="symbol">As</p>
            <p class="nameElement">Arsenic</p>
        </li>
        
        <li class="grid-item element34 polyatomicNonMetal">
            <p class="atomicNumber">34</p>
            <p class="atomicWeight">78.972</p>
            <p class="symbol">Se</p>
            <p class="nameElement">Selenium</p>
        </li>
       
        
        <li class="grid-item element51 semimetal">
            <p class="atomicNumber">51</p>
            <p class="atomicWeight">121.760</p>
            <p class="symbol">Sb</p>
            <p class="nameElement">Antimony</p>
        </li>
        
        <li class="grid-item element52 semimetal">
            <p class="atomicNumber">52</p>
            <p class="atomicWeight">127.6</p>
            <p class="symbol">Te</p>
            <p class="nameElement">Tellurium</p>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="grid-item element5771 lanthanide">
            <p class="atomicNumber">57-71</p>
        </li>
        
        
        
        
        
        <li class="grid-item element85 semimetal">
            <p class="atomicNumber">85</p>
            <p class="atomicWeight">209.987</p>
            <p class="symbol">At</p>
            <p class="nameElement">Astatine</p>
        </li>
        
        <li class="grid-item element86 nobleGas textLight">
            <p class="atomicNumber">86</p>
            <p class="atomicWeight">222.018</p>
            <p class="symbol">Rn</p>
            <p class="nameElement">Radon</p>
        </li>
        
        
        <li class="grid-item element89103 actinide">
            <p class="atomicNumber">89-103</p>
        </li>
    </ul>
</section> -->




<!-- <section class="groupTwo">
    <ul>
        <li class="grid-item element57 lanthanide">
            <p class="atomicNumber">57</p>
            <p class="atomicWeight">138.905</p>
            <p class="symbol">La</p>
            <p class="nameElement">Lanthanum</p>
        </li>
        
        <li class="grid-item element58 lanthanide">
            <p class="atomicNumber">58</p>
            <p class="atomicWeight">140.116</p>
            <p class="symbol">Ce</p>
            <p class="nameElement">Cerium</p>
        </li>
        
        <li class="grid-item element59 lanthanide">
            <p class="atomicNumber">59</p>
            <p class="atomicWeight">140.908</p>
            <p class="symbol">Pr</p>
            <p class="nameElement">Praseodymium</p>
        </li>  
        
        <li class="grid-item element60 lanthanide">
            <p class="atomicNumber">60</p>
            <p class="atomicWeight">144.242</p>
            <p class="symbol">Nd</p>
            <p class="nameElement">Neodymium</p>
        </li>  
        
        <li class="grid-item element61 lanthanide">
            <p class="atomicNumber">61</p>
            <p class="atomicWeight">144.913</p>
            <p class="symbol">Pm</p>
            <p class="nameElement">Promethium</p>
        </li> 
        
        <li class="grid-item element62 lanthanide">
            <p class="atomicNumber">62</p>
            <p class="atomicWeight">150.36</p>
            <p class="symbol">Sm</p>
            <p class="nameElement">Samarium</p>
        </li>
        
        <li class="grid-item element63 lanthanide">
            <p class="atomicNumber">63</p>
            <p class="atomicWeight">151.964</p>
            <p class="symbol">Eu</p>
            <p class="nameElement">Europium</p>
        </li>
        
        <li class="grid-item element64 lanthanide">
            <p class="atomicNumber">64</p>
            <p class="atomicWeight">157.25</p>
            <p class="symbol">Gd</p>
            <p class="nameElement">Gadolinium</p>
        </li>
        
        <li class="grid-item element65 lanthanide">
            <p class="atomicNumber">65</p>
            <p class="atomicWeight">158.925</p>
            <p class="symbol">Tb</p>
            <p class="nameElement">Terbium</p>
        </li>
        
        <li class="grid-item element66 lanthanide">
            <p class="atomicNumber">66</p>
            <p class="atomicWeight">162.500</p>
            <p class="symbol">Dy</p>
            <p class="nameElement">Dysprosium</p>
        </li>
        
        <li class="grid-item element67 lanthanide">
            <p class="atomicNumber">67</p>
            <p class="atomicWeight">164.930</p>
            <p class="symbol">Ho</p>
            <p class="nameElement">Holmium</p>
        </li>
        
        <li class="grid-item element68 lanthanide">
            <p class="atomicNumber">68</p>
            <p class="atomicWeight">167.259</p>
            <p class="symbol">Er</p>
            <p class="nameElement">Erbium</p>
        </li>
        
        <li class="grid-item element69 lanthanide">
            <p class="atomicNumber">69</p>
            <p class="atomicWeight">168.934</p>
            <p class="symbol">Tm</p>
            <p class="nameElement">Thulium</p>
        </li>
        
        <li class="grid-item element70 lanthanide">
            <p class="atomicNumber">70</p>
            <p class="atomicWeight">173.055</p>
            <p class="symbol">Yb</p>
            <p class="nameElement">Ytterbium</p>
        </li>
        
        <li class="grid-item element71 lanthanide">
            <p class="atomicNumber">71</p>
            <p class="atomicWeight">174.967</p>
            <p class="symbol">Lu</p>
            <p class="nameElement">Lutetium</p>
        </li>
        
        <li class="grid-item element89 actinide">
            <p class="atomicNumber">89</p>
            <p class="atomicWeight">227.028</p>
            <p class="symbol">Ac</p>
            <p class="nameElement">Actinium</p>
        </li>
        
        <li class="grid-item element90 actinide">
            <p class="atomicNumber">90</p>
            <p class="atomicWeight">232.038</p>
            <p class="symbol">Th</p>
            <p class="nameElement">Thorium</p>
        </li>
        
        <li class="grid-item element91 actinide">
            <p class="atomicNumber">91</p>
            <p class="atomicWeight">231.036</p>
            <p class="symbol">Pa</p>
            <p class="nameElement">Protactinium</p>
        </li>
        
        <li class="grid-item element92 actinide">
            <p class="atomicNumber">92</p>
            <p class="atomicWeight">238.029</p>
            <p class="symbol">U</p>
            <p class="nameElement">Uranium</p>
        </li>
        
        <li class="grid-item element93 actinide">
            <p class="atomicNumber">93</p>
            <p class="atomicWeight">237.048</p>
            <p class="symbol">Np</p>
            <p class="nameElement">Neptunium</p>
        </li>
        
        <li class="grid-item element94 actinide">
            <p class="atomicNumber">94</p>
            <p class="atomicWeight">244.064</p>
            <p class="symbol">Pu</p>
            <p class="nameElement">Plutonium</p>
        </li>
        
        <li class="grid-item element95 actinide">
            <p class="atomicNumber">95</p>
            <p class="atomicWeight">243.061</p>
            <p class="symbol">Am</p>
            <p class="nameElement">Americium</p>
        </li>
        
        <li class="grid-item element96 actinide">
            <p class="atomicNumber">96</p>
            <p class="atomicWeight">247.070</p>
            <p class="symbol">Cm</p>
            <p class="nameElement">Curium</p>
        </li>
        
        <li class="grid-item element97 actinide">
            <p class="atomicNumber">97</p>
            <p class="atomicWeight">247.070</p>
            <p class="symbol">Bk</p>
            <p class="nameElement">Berkelium</p>
        </li>
        
        <li class="grid-item element98 actinide">
            <p class="atomicNumber">98</p>
            <p class="atomicWeight">251.080</p>
            <p class="symbol">Cf</p>
            <p class="nameElement">Californium</p>
        </li>
        
        <li class="grid-item element99 actinide">
            <p class="atomicNumber">99</p>
            <p class="atomicWeight">[254]</p>
            <p class="symbol">Es</p>
            <p class="nameElement">Einsteinium</p>
        </li>
        
        <li class="grid-item element100 actinide">
            <p class="atomicNumber">100</p>
            <p class="atomicWeight">257.095</p>
            <p class="symbol">Fm</p>
            <p class="nameElement">Fermium</p>
        </li>
        
        <li class="grid-item element101 actinide">
            <p class="atomicNumber">101</p>
            <p class="atomicWeight">258.1</p>
            <p class="symbol">Md</p>
            <p class="nameElement">Mendelevium</p>
        </li>
        
        <li class="grid-item element102 actinide">
            <p class="atomicNumber">102</p>
            <p class="atomicWeight">259.101</p>
            <p class="symbol">No</p>
            <p class="nameElement">Nobelium</p>
        </li>
        
        <li class="grid-item element103 actinide">
            <p class="atomicNumber">103</p>
            <p class="atomicWeight">[262]</p>
            <p class="symbol">Lr</p>
            <p class="nameElement">Lawrencium</p>
        </li>
    </ul>
</section> -->


<!--
<div class="backdropModal">
    <div class="bigElement element103 actinide">
        <p class="atomicNumber">103</p>
        <p class="atomicWeight">[262]</p>
        <p class="symbol">Lr</p>
        <p class="nameElement">Lawrencium</p>
        <button class="btn-close"></button>
    </div>
</div>
-->








<!--MI ARCHIVO JS-->
<script src="js/libs/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>


