<!DOCTYPE html>
<html lang="en">
<head>
    <title>Periodic Table</title>
    <meta name="description" content="Periodic Table">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet">
</head>
<body>
    <partial src="_svg.html"></partial>
    <partial src="_key.html"></partial>
    <main>
        <partial src="_alkaliMetal.html"></partial>
        <partial src="_alkalineEarth.html"></partial>
        <partial src="_transitionMetal.html"></partial>
        <partial src="_basicMetal.html"></partial>
        <partial src="_semiMetal.html"></partial>
        <partial src="_polyatomicNonMetal.html"></partial>
        <partial src="_nonMetal.html"></partial>
        <partial src="_nobleGas.html"></partial>
        <partial src="_lanthanide.html"></partial>
        <partial src="_actinide.html"></partial>
        <partial src="_unknow.html"></partial>
    </main>

<!-- <section class="groupOne"></section> -->
<!-- <section class="groupTwo"></section> -->


<!--
<div class="backdropModal">
    <div class="bigElement element103 actinide">
        <p class="atomicNumber">103</p>
        <p class="atomicWeight">[262]</p>
        <p class="symbol">Lr</p>
        <p class="nameElement">Lawrencium</p>
        <button class="btn-close"></button>
    </div>
</div>
-->


<!--MI ARCHIVO JS-->
<!-- <script src="./assets/js/jquery-3.3.1.min.js"></script> -->
<script src="./assets/js/main.js"></script>


</body>
</html>


